.shoppingCartSection {
  padding: 30px 160px;
  display: flex;
  flex-direction: column;
}

.shoppingCartSection h2 {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.shoppingCartTabsContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.shoppingCartTabs {
  display: flex;
  position: relative;
}

.shoppingCartTabs button {
  background: none;
  border: none;
  border-bottom: 2px solid #e4e4e4;
  text-align: left;
  padding-bottom: 20px;
  outline: none;
  flex-grow: 1;
}

.shoppingCartTabs button.active {
  border-bottom: 2px solid #000;
}

.shoppingCartTabsNumber {
  display: flex;
  gap: 10px;
}

.shoppingCartTabsHeading {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.shoppingCartTabsNumber h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.shoppingCartTabsNumber p {
  font-size: 14px;
  color: #767676;
}

/* Tab underline effect */
.shoppingCartTabs.cartTab1::after,
.shoppingCartTabs.cartTab2::after,
.shoppingCartTabs.cartTab3::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #000;
}

.shoppingCartTabs.cartTab1::after {
  width: 28%;
  left: 0;
}

.shoppingCartTabs.cartTab2::after {
  width: 66.66%;
  left: 0;
}

.shoppingCartTabs.cartTab3::after {
  width: 100%;
  left: 0;
}

/* Tab1 */

.shoppingBagSection {
  display: flex;
  gap: 20px;
}

.shoppingBagTableSection {
  flex: 1;
}

.shoppingBagTable {
  width: 100%;
  border-collapse: collapse;
}

.shoppingBagTable tr {
  border-bottom: 1px solid #e4e4e4;
}

.shoppingBagTable th {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 0;
  border-bottom: 1px solid #e4e4e4;
  text-transform: uppercase;
}

.shoppingBagTable td {
  padding: 20px 0;
}

.shoppingBagTableImg {
  width: 120px;
  height: 120px;
}

.shoppingBagTableImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.shoppingBagTableProductDetail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shoppingBagTableProductDetail h4 {
  font-size: 16px;
  font-weight: 400;
}

.shoppingBagTableProductDetail p {
  font-size: 14px;
  color: #767676;
}

.ShoppingBagTableQuantity {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 2px solid #e0e0e0;
  padding: 0 10px;
}

.ShoppingBagTableQuantity button {
  background: none;
  border: none;
  cursor: pointer;
}

.ShoppingBagTableQuantity input {
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
  outline: none;
}
