.relatedProductSection {
  margin-top: 80px;
  padding: 0px 160px;
}

@media screen and (max-width: 1210px) {
  .relatedProductSection {
    padding: 0px 60px;
  }
}

@media screen and (max-width: 450px) {
  .relatedProductSection {
    padding: 0px 15px;
  }
}

@media screen and (max-width: 320px) {
}
