.shopDetails {
  padding: 0 160px;
}

.shopDetailMain {
  display: flex;
  gap: 60px;
}

.shopDetails__left {
  width: 27%;
}

/* Shop Right Section */

.shopDetails__right {
  width: 73%;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.shopDetailsSorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopDetailsBreadcrumbLink a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  display: inline-block;
}

.shopDetailsBreadcrumbLink a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  border-bottom: 2px solid black;
  transition: width 0.3s ease;
}

.shopDetailsBreadcrumbLink a:hover::after {
  width: 100%;
}

.shopDetailsSort select {
  border: none;
  text-transform: uppercase;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  background-color: white;
}

/* responsive */

@media screen and (max-width: 1210px) {
  .shopDetails {
    padding: 0 60px;
  }
}

@media screen and (max-width: 991px) {
  .shopDetails__left {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .shopDetails {
    padding: 0 15px;
  }
  .shopDetails__right {
    width: 100%;
  }
}
