.sliderMain {
  height: 100vh;
  background-color: #f4e5e0;
  background-image: url("../../Assets/slideshow-pattern.png");
  object-fit: cover;
}

.SliderContent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 150px;
}

.sectionleft {
  display: flex;
  flex-direction: column;
}

.sectionleft p {
  color: #c22928;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.sectionleft h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

.sectionleft h2 {
  font-size: 70px;
  margin: 0;
  text-transform: uppercase;
  margin: 0;
}

.sectionleft h5 {
  text-transform: uppercase;
  font-size: 15px;
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s;
  font-weight: 500;
}
