.main {
  background-color: #f4e5e0;
  background-image: url("../../Assets/slideshow-pattern.png");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.sectionleft {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionleft p {
  font-size: 15px;
  color: red;
  margin: 0;
}

.sectionleft h2 {
  font-size: 55px;
  margin: 0;
}

.sectionleft h4 {
  margin: 0;
}
